body
{
	background-color: hotpink;
}
h1
{
	text-align: center;
	color: red;
	font-size: 40px;
	font-style: Arial;
}
h2,h3
{
	color: green;
}
div
{
	border-radius: 5%;
	color: whitesmoke;
	background-color: blueviolet;
	border: 7px solid yellowgreen;
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5%;
	padding: 3%;
}

.groupe1
{
	background-color: blueviolet;
}
.groupe2
{
	background-color: burlywood;
}
.b1
{
	width: 30%;
	height: 10%;
	color: greenyellow;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
	transition: color 0,3s ease;
	margin: 10px;
	text-align: center;
	background-color: darkred;
}
.b1:hover {
	color: red;
	background-color: yellowgreen;
}